.places__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}

.places__paragraph:nth-of-type(2) {
  margin-top: 26px;
}

@media screen and (max-width: 1152px) {
  .places__paragraph:nth-of-type(2) {
    margin-top: 27px;
  }
}

@media screen and (max-width: 896px) {
  .places__paragraph:nth-of-type(2) {
    margin-top: 25px;
  }

  .places__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .places__paragraph {
    margin: 0 16px;
  }
}

